[defaults]
inventory = ${WORKSPACE}/inventory.ini
host_key_checking = False

[ssh_connection]
ssh_args = -F ${WORKSPACE}/.ssh/config -o UserKnownHostsFile=${WORKSPACE}/.ssh/known_hosts -o StrictHostKeyChecking=no
